Document/output/main.aux
Document/output/main.bbl
Document/output/main.blg
Document/output/main.fdb_latexmk
Document/output/main.fls
Document/output/main.loa
Document/output/main.lof
Document/output/main.log
Document/output/main.lot
Document/output/main.out
Document/output/main.pdf
Document/output/main.synctex.gz
Document/output/main.toc
Document/refs/publications.tex
Document/refs/references.bib
